@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030712;
    --card: #ffffff;
    --card-foreground: #030712;
    --popover: #ffffff;
    --popover-foreground: #030712;
    --primary: #8cc63f;
    --primary-foreground: #ffffff;
    --secondary: #4d0094;
    --secondary-foreground: #ffffff;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #f3f4f6;
    --accent-foreground: #111827;
    --destructive: #ef4444;
    --destructive-foreground: #f9fafb;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #630db5;
    --radius: 0.5rem;
    --secondary-second: #630db5;
  }

  .dark {
    --background: hsl(224 71.4% 4.1%);
    --foreground: hsl(210 20% 98%);
    --card: hsl(224 71.4% 4.1%);
    --card-foreground: hsl(210 20% 98%);
    --popover: hsl(224 71.4% 4.1%);
    --popover-foreground: hsl(210 20% 98%);
    --primary: hsl(263.4 70% 50.4%);
    --primary-foreground: hsl(210 20% 98%);
    --secondary: hsl(215 27.9% 16.9%);
    --secondary-foreground: hsl(210 20% 98%);
    --muted: hsl(215 27.9% 16.9%);
    --muted-foreground: hsl(217.9 10.6% 64.9%);
    --accent: hsl(215 27.9% 16.9%);
    --accent-foreground: hsl(210 20% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 20% 98%);
    --border: hsl(215 27.9% 16.9%);
    --input: hsl(215 27.9% 16.9%);
    --ring: hsl(263.4 70% 50.4%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #__next {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground;
  }

  .design-background {
    background:
      linear-gradient(135deg, #0000 20.5%, #4c0094 0 29.5%, #0000 0) 0 16px,
      linear-gradient(45deg, #0000 8%, #4c0094 0 17%, #0000 0 58%) 32px 0,
      linear-gradient(
        135deg,
        #0000 8%,
        #4c0094 0 17%,
        #0000 0 58%,
        #4c0094 0 67%,
        #0000 0
      ),
      linear-gradient(
        45deg,
        #0000 8%,
        #4c0094 0 17%,
        #0000 0 58%,
        #4c0094 0 67%,
        #0000 0 83%,
        #4c0094 0 92%,
        #0000 0
      ),
      #630db5;
    background-size: 64px 64px;
  }
}
