.card {
  display: flex;
  background-color: #4c0094;
  padding: 5px;
  position: relative;
  border-radius: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  
  .picture {
    border-radius: 16px;
    margin-right: 5px;
    width: 58px;
    height: 58px;
    background-color: #630db5;
  }

  .name, .points {
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: 700;
    color: #fff
  }

  .points {
    margin: 0px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: linear-gradient(90deg,#8cc63e,#3bb44b);
    height: 40%;
    min-width: 130px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}